
#  Backend Environment #

MONGODB_URI=your-mongodb-uri-here
PORT=3004
 

OPENAI_API_KEY=Cant push the open ai api key , its getting removed 
OPENAI_MODEL=gpt-3.5-turbo

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
EMAIL_FROM="RFP Bot <anshifpalempadiyan@gmail.com>"


#  Frontend Environment 

REACT_APP_BACKEND_BASE_URL = http://localhost:3004
